$content-width: 1200px;

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

header,
main,
footer {
    width: 100%;
}

main {
    flex: auto;
}

.header-content,
.main-content,
.footer-content {
    margin: 0 auto;
    max-width: $content-width;
}

.header-content {
    align-items: center;
    display: flex;

    h1 {
        flex: none;
        margin: 0;
    }
}

.logo-link {
    display: block;
}

.logo {
    display: block;
    height: 4rem;
    width: 9.5rem;
}

.nav-links {
    margin: 0;
    display: flex;
}