{{ with .context }}
  {{ if and (gt (.Pages | len) 0) (default true $.recurse) }}
    {{ if eq . $.page }}
      <span class="visually-hidden">Current page:</span>
      <span class="nav-link current">
        {{ .Name }}
      </span>
    {{ else if .IsAncestor $ }}
      <span class="visually-hidden">Current section:</span>
      <a href="{{ .RelPermalink }}" class="nav-link current">
        {{ .Name }}
      </a>
    {{ else }}
      <a href="{{ .RelPermalink }}" class="nav-link">
        {{ .Name }}
      </a>
    {{ end }}
    <ul>
      {{ range .Pages }}
        <li>{{ partial "nav-item.html" (dict "context" . "page" $.page) }}</li>
      {{ end }}
    </ul>
  {{ else }}
    {{ if eq . $.page }}
      <span class="visually-hidden">Current page:</span>
      <span class="nav-link current">
        {{ .Name }}
      </span>
    {{ else }}
      <a href="{{ .RelPermalink }}" class="nav-link">
        {{ .Name }}
      </a>
    {{ end }}
  {{ end }}
{{ end }}
