@mixin state {
  outline: none;
  position: relative;

  &::after {
    $spacing: -2px;
    content: "";
    position: absolute;
    top: $spacing;
    right: $spacing;
    bottom: $spacing;
    left: $spacing;
    border-radius: 4px;
    outline: 2px solid currentColor;
  }
}

:focus-visible {
  @include state;
}
