@use '@har79/theme/build/color';
@use '@har79/theme/build/math';

$background: linear-gradient(
  to right,
  transparent 57%,
  color.$background 62% 70%,
  transparent 75% 83%,
  color.$background 88% 95%,
  transparent
);
$height: 6rem;
$width: math.round(calc($height * 655 / 286), 0.01);
