@use "sass:math";
@use "color";

$font-family: Futura, ‘Century Gothic’, AppleGothic, sans-serif;

$phi: math.div(1 + math.sqrt(5), 2);

@function ceil($n, $f) {
  @return math.div(math.ceil($n * $f), $f);
}

@mixin font($scale, $weight: 400) {
  $size: math.pow($phi, $scale) * 1rem;
  $height: ceil($size + 0.5rem, 2);

  color: color.$body;
  font: $weight #{$size} / #{$height} $font-family;
  text-indent: calc(0.8px - 0.1em);
}

@mixin title {
  @include font(2.5, $weight: 300);
}

@mixin heading {
  @include font(1.5);
}

@mixin subheading {
  @include font(1);
}

@mixin body {
  @include font(0);
}

html {
  font-size: 16px;
}

body {
  @include body;
}

h1 {
  @include title;
}

h2 {
  @include heading;
}

h3 {
  @include subheading;
}
