@use "color";
@use "layout";
@use "state";
@use "typography";

header,
footer {
  display: flex;
  justify-content: space-between;

  background: color.$background;
  border-image: layout.$section-border;
}

header {
  position: sticky;
  top: 0;
  align-items: flex-end;

  border-bottom: layout.$border;
  border-image-width: 0 0 1px 0;
}

.logo-link {
  display: block;

  margin-inline: 1rem;
  padding-inline: 1rem;

  @include state.link(color.$primary, $visited: color.$primary);
}

.logo {
  display: block;

  height: layout.$logo-height;
  width: layout.$logo-width;
  margin-block-end: -1rem;

  background: layout.$logo-background;
}

.nav-links {
  display: flex;

  margin-block: 0;
  margin-inline: 1rem;
  padding-inline: 1rem;

  list-style: none;

  li {
    border-left: layout.$border;
    border-image: linear-gradient(
        transparent 15%,
        color.$border 40% 60%,
        transparent 85%
      )
      1 / 0 0 0 1px;

    &:last-of-type {
      border-right: layout.$border;
      border-image-width: 0 1px;
    }
  }

  a {
    display: block;
    min-width: 6rem;

    border-radius: 2px;
    padding-block: 0.5rem;
    padding-inline: 1rem;

    text-align: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  align-items: flex-start;

  border-top: layout.$border;
  border-image-width: 1px 0 0 0;

  @include typography.small;

  &::after {
    content: "";
    height: 2px;
    width: layout.$logo-width;

    margin-block: -1px;
    margin-inline: 2rem;

    background: layout.$logo-background;
    transform: rotate(0.5turn);
  }
}

.footer-links {
  margin-block: 1rem;
  padding-inline: 2rem;
}
