@use "lib/color";
@use "lib/layout";
@use "lib/state";
@use "lib/typography";

.me {
  display: flex;
  flex-flow: wrap;

  > * {
    margin-inline: 1rem;
  }
}

.profile {
  height: layout.$logo-width;
  width: layout.$logo-width;

  margin-block-end: 1rem;
  border-radius: 50%;
}

.profile-name {
  @include typography.title;
}

.profile-links {
  padding: 0;

  list-style: none;

  .svg-inline--fa {
    margin-inline-end: 0.5rem;
  }
}
