@use '@har79/theme/build/typography';
@use 'logo';

.me {
  display: flex;

  flex-flow: wrap;

  > * {
    margin-inline: 1rem;
  }
}

.profile {
  height: logo.$width;
  width: logo.$width;

  margin-block-end: 1rem;
  border-radius: 50%;
}

.profile-name {
  @include typography.title;
}

.profile-links {
  padding: 0;

  list-style: none;

  /* stylelint-disable-next-line selector-class-pattern */
  .svg-inline--fa {
    /* stylelint-disable-next-line selector-class-pattern */
    margin-inline-end: 0.5rem;
  }
}
