@charset "utf-8";

@forward "header";

@use "animation";
@use "color";
@use "layout";
@use "state";
@use "typography";

html {
  box-sizing: border-box;
  font-size: 16px;
}

// https://www.paulirish.com/2012/box-sizing-border-box-ftw/
// Apply a natural box layout model to all elements, but allowing components to change.
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  max-width: layout.$max-width;

  overflow-x: hidden;
  margin-inline: auto;

  @include typography.body;

  // TODO fade out on navigate?
  // @include animation.fade-in;
}

header,
main,
footer {
  // TODO: 0.1px because units are required in Chrome and Sass strips units from 0px.
  margin-inline: clamp(-4rem, (-100vw + layout.$max-width) / 2, 0.1px);
  padding-inline: clamp(1rem, (1rem + 100vw - layout.$max-width) / 2, 5rem);

  @include layout.mobile {
    padding-inline: 0;
  }
}

main {
  flex: auto;
}

.content {
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-inline: 0;
  margin-block: 0 1rem;
}

h1 {
  @include typography.title;
}

h2 {
  @include typography.heading;
}

h3 {
  @include typography.subheading;
}

ul {
  padding-inline-start: 2rem;
}

:focus-visible {
  @include state.focus($internal-outline: true);
}

a {
  @include state.link;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;

  overflow: hidden;

  clip: rect(0 0 0 0);
}
