<h1 class="visually-hidden"><%- config.title %></h1>
<div class="me no-padding">
  <h2 class="visually-hidden">About me</h2>
  <img src="profile.jpg" alt="Profile photo" class="profile" />
  <div>
    <p class="profile-name">Harry Cameron</p>
    <p>Frontend Software Engineer based in London</p>
    <h3 class="visually-hidden">Profiles</h3>
    <ul class="profile-links">
      <li>
        <a href="https://www.linkedin.com/in/har79/">
          <%- fa_inline('linkedin', {prefix: 'fab'}) %>linkedin.com/in/har79/</a
        >
      </li>
      <li>
        <a href="https://github.com/har79">
          <%- fa_inline('github', {prefix: 'fab'}) %>github.com/har79</a
        >
      </li>
    </ul>
  </div>
</div>
