<%- partial('partial/head') %>

<a class="skip-link" href="#main">Skip to main content</a>

<%- partial('partial/header') %>

<main id="main"><%- body %></main>

<%- partial('partial/footer') %>
