<svg
	class="logo"
	viewBox="0 0 655 286"
	xmlns="http://www.w3.org/2000/svg"
	version="1.1"
	baseProfile="full"
	role="img"
	aria-labelledby="har79-logo">
	<title id="har79-logo">har79</title>
	<clipPath id="c">
		<path d="M0,0v208h408v78h247v-286z" />
	</clipPath>
	<path
		d="M16,115l577,-999M8,208 v-64a56,56,0,0,1,112,0v64m144,0v-64a56,56,0,0,1,-112,0,56,56,0,0,1,112,0m127,-56h-114l122,212l122,-212h-114m232,84a56,56,0,0,1,-97,-56,56,56,0,0,1,97,56l-577,999"
		clip-path="url(#c)"
		fill="none"
		stroke="currentColor"
		stroke-width="16" />
</svg>
